* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

/* header {
  background-color: skyblue;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding: 5px;
} */

.main {
  position: relative;
}

.main .header-title {
  position: absolute;
  top: 3%;
  right: 8%;
  font-family: serif;
  font-size: 65px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 3px;
}

.main .header-title-second {
  top: 7%;
  left: 9%;
}

.text-combine {
  text-combine-upright: all;
}

footer {
  text-align: center;
  padding-bottom: 10px;
}
